/*---------breakpoints-----------------------------------------------------------*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  position: relative; }

@media only screen and (min-width: 320px) {
  .boxPadre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .box {
    width: 100%;
    padding: 0% 16px; }
  a {
    text-decoration: none;
    color: black; }
  .borde {
    width: 100%;
    position: relative;
    top: -60px; }
  .borde::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #dd0734;
    position: sticky;
    top: 115px; } }

@media only screen and (min-width: 1024px) {
  .box {
    max-width: 1166px; } }

@media only screen and (min-width: 320px) {
  header {
    height: 55px;
    position: sticky;
    top: 0%;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    header .header__box {
      height: inherit;
      display: flex;
      justify-content: space-between; }
      header .header__box .header__img {
        width: 50px; } }

@media only screen and (min-width: 320px) {
  .encabezado {
    height: 60px;
    background-color: #dd0734;
    position: sticky;
    top: 55px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-wrap: wrap; }
    .encabezado .encabezado__box {
      display: flex;
      align-items: center; }
      .encabezado .encabezado__box .botonAtras {
        width: 30px;
        margin-right: 10px; }
      .encabezado .encabezado__box .encabezado__title {
        font-family: 'Anton', sans-serif;
        font-size: 22px;
        color: white;
        font-weight: 400;
        width: 300px;
        margin: 0; } }

@media only screen and (min-width: 320px) {
  .productos__box {
    display: grid;
    grid-template: auto fill / auto; }
    .productos__box .producto {
      background: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      height: 85px;
      border-radius: 8px;
      display: grid;
      grid-template-columns: 100px 1fr 50px;
      width: 100%;
      cursor: pointer;
      margin-bottom: 13px;
      overflow: hidden; }
      .productos__box .producto .producto__img {
        width: 100px;
        height: 85px; }
        .productos__box .producto .producto__img img {
          width: inherit;
          height: inherit; }
      .productos__box .producto .producto__text {
        display: flex;
        flex-wrap: wrap;
        padding: 12px; }
        .productos__box .producto .producto__text .producto__name {
          font-size: 16px;
          width: 100%;
          margin: 0%; }
        .productos__box .producto .producto__text .producto__price {
          font-size: 18px;
          color: #dd0734;
          font-weight: bold;
          width: 100%;
          text-align: end;
          margin: 0%; }
      .productos__box .producto .producto__icon {
        background-color: #ffd082;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .productos__box .producto .producto__icon img {
          width: 20px;
          height: 20px; }
  /*
    .botonVolver {
        background-color: $secundary;
        width: 180px;
        padding: 8px 5px;
        border-radius: 15px; 
        display: flex;
        flex-wrap: wrap;
        
        font-family: 'Anton', sans-serif;
        
        .botonVolver__icon {
            width: 25px;
            margin-right: 15px;
        }
    }
    */ }

@media only screen and (min-width: 768px) {
  .productos .productos__box {
    grid-template-columns: auto auto; }
    .productos .productos__box .producto {
      width: 300px; } }

@media only screen and (min-width: 1024px) {
  .productos .productos__box {
    grid-template-columns: auto auto auto; }
    .productos .productos__box .producto {
      width: 370px; } }

@media only screen and (min-width: 320px) {
  .cuerpo .cuerpo__box {
    display: grid;
    gap: 30px;
    grid-template: auto fill / auto; }
  .card {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
    .card .card__img__box {
      border-radius: 10px 10px 0 0;
      height: 120px;
      background-color: black; }
      .card .card__img__box .card__img {
        height: 120px; }
    .card .card__contenido {
      height: 80px;
      padding: 11px 16px;
      display: flex;
      justify-content: space-between;
      background-color: white; }
      .card .card__contenido .card__datos .card__title {
        margin: 0%;
        font-size: 18px; }
      .card .card__contenido .card__datos .card__direccion {
        font-size: 13px;
        color: #6c757d;
        font-weight: 200; }
      .card .card__contenido .card__boton {
        background-color: #ffd082;
        border: none;
        width: 76px;
        height: 24px;
        align-self: center;
        border-radius: 5px; } }

@media only screen and (min-width: 768px) {
  .cuerpo .cuerpo__box {
    grid-template-columns: auto auto; }
    .cuerpo .cuerpo__box .card {
      width: 100%;
      height: 200px; } }

@media only screen and (min-width: 320px) {
  .categorias {
    width: 100%;
    position: relative;
    top: -60px; }
    .categorias .categorias__box {
      display: grid;
      grid-template: auto fill / auto;
      gap: 15px;
      cursor: pointer; }
      .categorias .categorias__box .categorias__contenido {
        width: 100%;
        height: 110px;
        background-color: black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /*background-image: url(../../imagenes/categorias/gohan.png);
                background-size: cover;*/ }
        .categorias .categorias__box .categorias__contenido p {
          font-size: 23px;
          color: white;
          font-weight: bold; } }

@media only screen and (min-width: 768px) {
  .categorias .categorias__box {
    grid-template-columns: auto auto; } }

@media only screen and (min-width: 1024px) {
  .categorias .categorias__box {
    grid-template-columns: auto auto auto; } }

@media only screen and (min-width: 320px) {
  .detalle .detalle__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .detalle .detalle__box .detalle__img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%; }
      .detalle .detalle__box .detalle__img img {
        width: 320px; }
    .detalle .detalle__box .detalle__descripcion {
      padding: 50px 5px; }
  .detalle .detalle__footer {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 340px; }
    .detalle .detalle__footer .detalle__cantidadBox {
      width: 40%;
      display: flex;
      align-items: center; }
      .detalle .detalle__footer .detalle__cantidadBox .detalle__boton {
        cursor: pointer; }
        .detalle .detalle__footer .detalle__cantidadBox .detalle__boton img {
          width: 35px; }
      .detalle .detalle__footer .detalle__cantidadBox .detalle__cantidad {
        font-weight: bolder;
        width: 50px;
        text-align: center;
        font-size: 20px;
        margin: 0%;
        font-family: 'Anton', sans-serif; }
    .detalle .detalle__footer .detalle__agregar {
      width: 55%;
      background-color: #ffd082;
      padding: 16px;
      border-radius: 10px;
      display: flex;
      font-family: 'Anton', sans-serif;
      justify-content: space-between;
      cursor: pointer; }
      .detalle .detalle__footer .detalle__agregar p {
        margin: 0%; }
      .detalle .detalle__footer .detalle__agregar .detallePrecio {
        font-weight: bolder; } }

@media only screen and (min-width: 768px) {
  .detalle .detalle__box .detalle__img img {
    width: 500px; }
  .detalle .detalle__footer {
    width: 500px; } }

@media only screen and (min-width: 1024px) {
  .detalle .detalle__box .detalle__img img {
    width: 800px; }
  .detalle .detalle__footer {
    width: 800px; } }
