@media only screen and (min-width:320px){

  .encabezado {
      height: 60px;
      background-color: $main;
      position: sticky;
      top: 55px;
      z-index: 10;

      display: flex;
      justify-content: center;
      align-items: initial;
      flex-wrap: wrap;

      .encabezado__box {
        display: flex;
        align-items: center;

        .botonAtras {
            width: 30px;
            margin-right: 10px;
        }
        .encabezado__title {
            font-family: 'Anton', sans-serif;
            font-size: 22px;
            color: white;
            font-weight: 400;
            width: 300px;
            margin: 0;
        }
    } 
  }
}
@media only screen and (min-width:768px){}
@media only screen and (min-width:1024px){}
