@media only screen and (min-width:320px){
    
    .detalle {

        .detalle__box{

            @include centrarHijos;
            .detalle__img {
                @include centrarHijos;
                width: 100%;

                img {
                    width: 320px;
                }

            }

            .detalle__descripcion {
                padding: 50px 5px;
            }
            
        }
        .detalle__footer {
            display: flex;
            justify-content:space-between ;
            align-self: flex-end;
            width: 340px;
            
            .detalle__cantidadBox {
                width: 40%;
                display: flex;
                align-items: center;

                .detalle__boton {
                    cursor: pointer;
                    img {
                        width: 35px;
                    }
                }
                .detalle__cantidad {
                    font-weight: bolder;
                    width: 50px;
                    text-align: center;
                    font-size: 20px;
                    margin: 0%;
                    font-family: 'Anton', sans-serif;
                }
                
            }

            .detalle__agregar {
                width: 55%;
                background-color: $secundary;
                padding: 16px;
                border-radius: 10px;
                display: flex;
                font-family: 'Anton', sans-serif;
                justify-content: space-between;
                cursor: pointer;

                p {
                    margin: 0%;
                }
                .detallePrecio {
                    font-weight: bolder;

                }
            }
        }
    }
}
@media only screen and (min-width:768px){

    .detalle {

        .detalle__box{
            .detalle__img {

                img {
                    width: 500px;
                }
            }
            
        }
        .detalle__footer {
  
            width: 500px;
        }
    }
}
@media only screen and (min-width:1024px){

    .detalle {

        .detalle__box{
            .detalle__img {

                img {
                    width: 800px;
                }
            }
            
        }
        .detalle__footer {
  
            width: 800px;
        }
    }
}

