@media only screen and (min-width:$phone) {

    .cuerpo {
        width: 100%;
        position: relative;
        top: -60px;
        

        &::before {
            content: ' ';
            display: block;
            width: 100%;
            height: 60px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            
            background-color: $main;
            position: sticky;
            top: 115px;
        }  
        
        .cuerpo__box {
            display: grid;
            gap: 30px;
            grid-template: auto fill / auto ;
        }
    }

    .card {
        @include sizes(100%, 200px);
        border-radius:  10px 10px 10px 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .card__img__box {
            border-radius: 10px 10px 0 0;
            height: 120px;
            background-color: black;

            .card__img {
                height: 120px;
            }
        }
        .card__contenido {
            height: 80px;
            padding: 11px 16px;
            display: flex;
            justify-content: space-between;
            background-color: white;

            .card__datos {
                .card__title { 
                    margin: 0%;
                    font-size: 18px;
                }
                .card__direccion {
                    font-size: 13px;
                    color: #6c757d;
                    font-weight: 200;
                }
    
            }
            
            .card__boton {
                background-color: #ffd082;
                border: none;
                @include sizes(76px, 24px);
                align-self:center ;
                border-radius: 5px;
            }
        }
    }
}
@media only screen and (min-width:$tablet){

    .cuerpo {
        
        .cuerpo__box {
            grid-template-columns: auto auto;

            .card {
                @include sizes(100%, 200px);
            }
        }
    }

        
}

@media only screen and (min-width:$desktop){}